.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-title {
    font-size: 20px;
    font-weight: bold;
    word-break: break-all;
    hyphens: auto;
}

.result-text{
    font-size: 20px;
    font-weight: bold;
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15%;
}